@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", system-ui, sans-serif;
}

nav #main-menu button[aria-expanded="false"] {
  @apply hover:text-orange-500;
}

[x-cloak] {
  display: none !important;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* nav details[open]{
        background: #F78D1E;
        color: #fff;
    }
    nav details[open]:hover{
        background: #F78D1E;
        color: #fff;
    }
    
    nav details .collapse-content{
        background: #EAEAEA;
    }
    .notifications .active{
        background-color: #FBF4EE;
    }
    details.collapse summary{
        display: flex;
    } */

.card {
  border: 1px solid #eaeaea;
}

.card-body {
  padding: 18px !important;
}

.datatable-bottom {
  @apply flex justify-between items-center text-xs mt-auto pt-5 border-t border-t-slate-200;
}

.datatable-pagination-list {
  @apply inline-flex -space-x-px text-sm gap-1;
}

.datatable-pagination-list-item button {
  @apply flex items-center justify-center px-3 h-8 rounded leading-tight text-black bg-white border border-rkBlack hover:bg-gray-100 hover:text-black;
}

.datatable-pagination-list-item.datatable-active button {
  @apply flex items-center justify-center px-3 h-8 text-white border border-rkBlack bg-black hover:bg-black hover:text-white;
}

.datatable-disabled button {
  @apply opacity-70 cursor-not-allowed bg-gray-50 hover:bg-gray-50 border-gray-300;
}


.datatable-top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.datatable-input {
  border-radius: 6px;
}

.add-new-trip-tabs button[aria-selected='true']:hover {
  @apply bg-black text-orange;
}

@media (min-width:992px) {
  .trip_table-warpper table::before {
    content: "";
    position: absolute;
    background-image: url("../images/add-new-trip.png");
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }


  .trip_table-warpper table {
    margin-left: 60px;
  }
}



div.dt-container select.dt-input {
  min-width: 60px;
  font-size: 14px;
}

.unplanned-trip-tabs .active .circle {
  @apply bg-orange-500;
}

.btn-orange {
  @apply bg-orange-500 text-white hover:bg-black hover:text-white;
}

.modal-open,
.modal:target,
.modal-toggle:checked+.modal,
.modal[open] {
  backdrop-filter: blur(10px);
}
.active .rk-checkbox{
  @apply bg-orange-500;
}
input,
select {
  @apply focus:ring-orange-500 focus:border-orange-500;
}
.rk-editable-inputs input:focus,.rk-editable-inputs textarea:focus{
  @apply focus:ring-orange-500 focus:border-orange-500;
}
.rk-editable-inputs input[readonly="readonly"],
.rk-editable-inputs textarea[readonly="readonly"] {
  @apply border-0 pl-0 ring-0;
}

.rk-editable-inputs input,
.rk-editable-inputs textarea {
  @apply border-gray-400 rounded-lg text-sm;
}

.details-border {
  @apply border border-orange-500;
}

.view-details.active svg {
  transform: rotate(90deg);
}


input.picker[type="date"] {
  position: relative;
}

input.picker[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}






/* drop zone */

.drop-zone {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #DADADA;
  background: #F1F2F6;
}


.drop-zone.dragover {
  background-color: #e6e6e6;
}

.image-preview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 16px;
}
.image-preview img{
  @apply rounded-lg bg-gray-200 shadow-lg;
}
.tms-table thead {
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid #ECECEC;
  background: #F1F2F6;
  color: #2D2D2D;

}
.tms-table tr{
  border: 1px solid #ECECEC;
}
.tms-table tbody tr:hover{
  border: 1px solid #2D2D2D;
}
.tms-table tbody tr:hover td{
  border-top: 1px solid #2D2D2D;
}
.tms-table th{
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
.tms-table td{
  padding: 22px;
  text-align: center;
}


/* table2 */
.tms-table2 thead {
  border: none;
  background-color: #fff;

}
.tms-table2 tr{
  border: 1px solid #ECECEC;
}
.tms-table2 tbody tr:hover{
  border: 1px solid #2D2D2D;
}
.tms-table2 tbody tr:hover td{
  border-top: 1px solid #2D2D2D;
}
.tms-table2 th{
  padding: 20px;
  text-align: start;
  text-transform: uppercase;
}
.tms-table2 td{
  padding: 22px;
  text-align: start;
}



.main-table tr{
  border: 1px solid #ECECEC;
}


.main-table table.table tr{
  border: none;
}

.trips-table tr{
  border: 1px solid #ECECEC;
}

.trips-table th{
  border-radius: 4px 4px 0px 0px;
border-bottom: 1px solid #ECECEC;
background: #F1F2F6;
color: #2D2D2D;
padding: 16px 14px;

}
.trips-table td{
  padding: 16px 14px;
}

.datatable-input{
  @apply border-gray-300 rounded-lg text-xs focus:ring-0 focus:border-gray-500;
}

input[disabled] {
  @apply focus:ring-0 focus:border-0;
}